<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".CarSettingsApp"
        android:allowBackup="true"
        android:label="Car Settings Service"
        android:supportsRtl="true">
        
        <service
            android:name=".CarSettingsService"
            android:exported="true"
            android:permission="com.example.carsettings.permission.ACCESS_CAR_SETTINGS">
            <intent-filter>
                <action android:name="com.example.carsettings.SERVICE_BIND" />
            </intent-filter>
        </service>
    </application>

</manifest>
